
.spinnerContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgb(57, 255, 20);
  background: radial-gradient(
    circle,
    rgba(57, 255, 20, 0.773546918767507) 44%,
    rgba(0, 0, 0, 0.8743872549019608) 90%
  );
  z-index: 20;
}

.spinnerContainer img {
  width: 40%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .spinnerContainer img {
    width: 80%;
    height: auto;
  }
}
