.inputSearch {
  max-width: 100%;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.3em;
  border-radius: 10px;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
}

.inputSearch input {
  font-family: "Creepster", cursive;
  font-size: 1.2em;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.inputSearch input:focus {
  outline: none !important;
  border-color: #33ff00;
  background: black;
  color: white;
  box-shadow: 0 0 10px #33ff00;
}

.button {
  font-family: "Creepster", cursive;
  font-size: 1em;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #ccc;
  background: none;
  margin-top: 5px;
}

.button:hover {
  transition: 300ms;
  background-color: #33ff00;
  color: #000000;
  border: solid 2px #000000;
  box-shadow: rgba(255, 255, 255, 0.9) 0px 15px 25px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .inputSearch {
    flex-direction: row;
    justify-content: space-around;
  }
  .button {
    margin-top: 0;
  }
  .inputSearch input {
    width: 30%;
  }
}
